<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--sql的唯一标识：namespace.id来组成，称为 statementId
    一个select标签就会封装成一个MappedStatement对象。
    这里有n个select标签，故会有n个MappedStatement objects-->
<mapper namespace="com.lagou.mapper.IUserMapper">

	<!-- Select功能 -->
	<select id="findAll" resultType="com.lagou.pojo.User">
        select * from users
    </select>

	<select id="findByCondition" resultType="com.lagou.pojo.User" parameterType="com.lagou.pojo.User">
        select * from users where id = #{id} and username = #{username}
    </select>

	<!-- #{}中要写能在java.lang.Integer中找得到的field，不能随便写 -->
	<select id="findUserById" parameterType="java.lang.Integer" resultType="com.lagou.pojo.User">
        select * from users where id = #{value}
    </select>

	<!-- Add功能 -->
	<insert id="addUser" parameterType="com.lagou.pojo.User">
		insert into users values(#{id}, #{username})
	</insert>

	<!-- Delete功能 -->
	<insert id="deleteUser" parameterType="java.lang.Integer">
		delete from users where id = #{value}
	</insert>

	<!-- Update功能 -->
	<update id="updateUser" parameterType="com.lagou.pojo.User">
		update users set username = #{username} where id = #{id}
	</update>
</mapper>